.leaf {
  width: 1px;
  height: 1px;
  align-content: last baseline;
  border-right: 8%;
}

.leaf2 {
  width: 500px;
}


.navbar {
  text-align: center;
}

.main {
  display: grid;
  /* grid-template-rows: auto; */
  grid-template-columns: repeat(4, 1fr);
   border: solid 1px;
}



.span {
  display: grid;
 
  grid-template-columns: repeat(4, 1fr);
  border: solid 1px;
} 
.IKEA {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.DIPTYQUE {
  font-family: "Times New Roman", Times, serif;
}
.DESENIO {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.benito {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif font;
}
.WETWIC {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.flexbox {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(4, 1fr);
  border: solid 1px;
}

.cards {
  display: grid;
grid-template-columns: repeat(4,1fr);
  /* border: solid 1px; */
}

.room vase {
  width: 50%;
  border-left: 100%;
  height: 100%;
  padding: 50%;
  align-content: flex-end;
}
.conslusion {
  align-content: center;
}
.Review {
  align-content: center;
  text-justify: distribute;
  text-size-adjust: inherit;
  font-style: italic;
  font: bolder;
}
.flexbox2 {
  display: inline;
}
.flexbox3 {
  display: grid;
}

.flexbox4 {
  direction: grid;
  grid-template-columns: 50%;
}
.flexbox5 {
  grid-template-areas: inherit;
  padding: 20% 20%;
  margin: auto;
  width: 30px;
  min-height: auto;
  border-top-left-radius: 1px;
}
.footer {
  font: display 20px;
  font-weight: 400;
}
#icons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
